In [39]:
from pyforbes import ForbesList

flist = ForbesList()
richest400_df = flist.get_df("billionaires", year =2022)

In [18]:
richest400_df.head()

,name,year,month,uri,listUri,finalWorth,category,otherCompensation,person,visible,...,thumbnail,squareImage,bioSuppress,csfDisplayFields,suppressOnProfiles,age,title,source,rank,premiumProfile
0,Billionaires,2000,7,jose-luis-cutrale,billionaires,1000.0,Food and Beverage,0,"{'name': 'Jose Luis Cutrale', 'uri': 'jose-lui...",True,...,http://specials-images.forbesimg.com/imageserv...,//specials-images.forbesimg.com/imageserve/5e7...,False,"[rank, finalWorth, personName, bios, bio]",False,NaN,NaN,NaN,NaN,NaN
1,Billionaires,2000,7,martin-ebner,billionaires,1900.0,Finance and Investments,0,"{'name': 'Martin Ebner', 'uri': 'martin-ebner'...",True,...,http://specials-images.forbesimg.com/imageserv...,//specials-images.forbesimg.com/imageserve/5e7...,False,"[rank, finalWorth, personName, bios, bio]",False,54.0,NaN,NaN,NaN,NaN
2,Billionaires,2000,7,christoph-henkel,billionaires,4500.0,Fashion & Retail,0,"{'name': 'Christoph Henkel', 'uri': 'christoph...",True,...,http://specials-images.forbesimg.com/imageserv...,//specials-images.forbesimg.com/imageserve/5e7...,False,"[rank, finalWorth, personName, bios, bio]",False,NaN,NaN,NaN,NaN,NaN
3,Billionaires,2000,7,alexander-vik,billionaires,2900.0,Finance and Investments,0,"{'name': 'Alexander Vik', 'uri': 'alexander-vi...",True,...,http://specials-images.forbesimg.com/imageserv...,//specials-images.forbesimg.com/imageserve/a4e...,False,"[rank, finalWorth, personName, bios, bio]",False,45.0,Investor,NaN,NaN,NaN
4,Billionaires,2000,7,masahiro-noda,billionaires,1200.0,Technology,0,"{'name': 'Masahiro Noda', 'uri': 'masahiro-nod...",True,...,http://specials-images.forbesimg.com/imageserv...,//specials-images.forbesimg.com/imageserve/5e7...,False,"[rank, finalWorth, personName, bios, bio]",False,61.0,NaN,NaN,NaN,NaN

DataUnavailableError: Empty Dataset recieved.             Requested data is unavailable for the specified year.

In [40]:
richest400_df.to_csv('2022_data.csv', sep=',')